/* Extra small (default) — no media query needed */
@media (min-width: 576px) { } /* Small (sm) */
@media (min-width: 768px) { } /* Medium (md) */
@media (min-width: 992px) { } /* Large (lg) */
@media (min-width: 1200px) { } /* Extra large (xl) */
@media (min-width: 1400px) { } /* XXL */

:root {
  --spacing: 2rem;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  min-width: 320px;
  font-family: Roboto, Arial, sans-serif;
  &.centered-content {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
  }
}

main {
  width: 100%;
  padding: var(--spacing);
  &.boxed {
    max-width: calc(960px + (var(--spacing) * 2));
    margin: 0 auto;
  }
  .container-fluid {
    width: auto;
    margin-left: -12px;
    margin-right: -12px;
  }
}

h1 {
  margin-bottom: var(--spacing);
  text-align: center;
}

option:disabled {
  color: #a8a29e;
}